.page {
  height: 100%;
  max-width: none !important;
  margin: 0 !important;
  padding: 0;
  position: relative;
  min-height: calc(100% - 44px);
}

.page header h1 {
  font-size: 10em;
  font-weight: 400;
}

.page header p {
  margin-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
}

p {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.page .error-advise {
  margin-bottom: 25px;
  color: #a9afb5;
}
